.DS_STORE
TerrainRender/TerrainRender/Debug/*
TerrainRender/TerrainRender/TerrainRender/Debug/*
TerrainRender/TerrainRender/TerrainRender/x64/*
TerrainRender/TerrainRender/x64/*
TerrainRender/TerrainRender/.vs/
._*

File/test_landscape02.stl
File/no_building.stl
File/test_landscape1dot250M.stl
