.DS_STORE
TerrainRender/TerrainRender/Debug/*
TerrainRender/TerrainRender/TerrainRender/Debug/*
TerrainRender/TerrainRender/TerrainRender/x64/*
TerrainRender/TerrainRender/TerrainRender/Win32/*
TerrainRender/TerrainRender/x64/*
TerrainRender/TerrainRender/Win32/*
TerrainRender/TerrainRender/.vs/
._*
File/test_landscape02.stl
File/no_building.stl
File/test_landscape1dot250M.stl
File/Wikipedia_puzzle_globe_3D_render.stl
TerrainRender/TerrainRender/TerrainRender_ModelUnitTest/x64/*
TerrainRender/TerrainRender/TerrainRender_ModelUnitTest/Win32/*
TerrainRender/TerrainRender/TerrainRender_ModelUnitTest/Debug/*
TerrainRender/TerrainRender/TerrainRender_ControllerUnitTest/x64/*
TerrainRender/TerrainRender/TerrainRender_ControllerUnitTest/Win32/*
TerrainRender/TerrainRender/TerrainRender_ControllerUnitTest/Debug/*
TerrainRender/TerrainRender/TerrainRender_ViewUnitTest/*
